version: '{build}'
skip_tags: true
clone_depth: 10
init: []
environment:
  matrix:
  - ruby_version: 193
  - ruby_version: 200
  - ruby_version: 200-x64
  - ruby_version: 21
  - ruby_version: 21-x64
  - ruby_version: 22
  - ruby_version: 22-x64
  - ruby_version: 23
  - ruby_version: 23-x64
  - ruby_version: 24
  - ruby_version: 24-x64
install:
- SET PATH=C:\Ruby%ruby_version%\bin;%PATH%
# - SET DEV=1
- ruby --version
- gem --version
- gem install bundler --quiet --no-ri --no-rdoc
- bundle --version
# - pushd .. && git clone https://github.com/halostatue/minitar.git && popd
- bundle install
build: off
test_script:
  - bundle exec rake test
